
.main-rent {
    height: 80px;
    width: 100%;
    background-color: rgb(236, 230, 211);
}

.main-rent .header-bar {
    margin: 0px 0 0 0;
    padding: 10px 0em 0 1em;
    height: 80px;
}



.main-rent .header-bar-img {
    float: left;
    width: 10.5em;
    height: 3.75em;
}

.main-rent .header-bar-center {
    width: calc(100%-11.5em);
    height: 1.5em;
    font-size: 1em;
    float: right;
    padding: 1.5em 0 0 0;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(100, 100, 100);
}

.main-rent .header-bar-set {
    width: 2em;
    height: 4.25em;
    float: right;
    padding: 1.4em 0 0 0;
}

.main-rent .header-bar-set img {
    width: 1.5em;
    height: 1.5em
}

.main-rent .my-popuper {
    position: absolute;
    right: 3px;
    top: 81px;
    width: 5em;
    height: 6em;
    background-color: rgb(236, 230, 211);
    padding: 0 3px 0 3px;
    border-radius: 2px;
}

.main-rent .popuper-item-one {
    height: 3em;
    line-height: 3em;
    border-bottom: 1px solid #cccccc;
    color: rgb(100, 100, 100);
}

.main-rent .popuper-item-two {
    height: 3em;
    line-height: 3em;
    color: rgb(100, 100, 100);
}


/*menu 主题*/

.main-rent .img-click-section {
    display: flex;
    margin-top: 5%;
    width:100%;
}

.main-rent .img-section {
    flex: auto;
    text-align: justify;
    padding-left: 3px;
    width: 100%;
}


/* max 是移动端样式*/
@media screen and (max-width: 1023px) {
 .main-rent .img-item {
    display: inline-block;
    vertical-align: top;
    padding: 0.6rem 0.3rem;
    width: 30%;
    text-align: center;
}
.main-rent .img-item img{
    width:4em;
    height:4em;
}
.main-rent .textItem-base{
     line-height: 2.8em;
        height:2.5em;
        width:100%;
  
    float:left;
      text-align: left;
    padding: 0 0 0 0;
    text-indent: 1em;
    margin: 0 0 0 0;
    font-size:1.25em;
    font-weight: bolder;
     border-radius:5px;
}
.main-rent .bootTexts-kong-img img{
     vertical-align: middle;
    width:4em;
    height:4em;
}
  .main-rent .bootTexts-kong-img{
        margin:1.5em 0 0 0;
        text-align: center;
     }
}
/* min 是pc端样式*/
@media screen and (min-width: 1023px) {
.main-rent .img-item {
    display: inline-block;
    vertical-align: top;
    padding: 0.6rem 0.3rem;
    width: 15%;
    text-align: center;
}
.main-rent .textItem-base{
     line-height: 4em;
        height:4em;
        width:100%;
  
    float:left;
      text-align: left;
    padding: 0 0 0 0;
    text-indent: 1em;
    margin: 0 0 0 0;
    font-size:1.25em;
    font-weight: bolder;
     border-radius:5px;
}
  .main-rent .bootTexts-kong-img{
        margin:.5em 0 0 0;
        text-align: center;
     }
.main-rent .bootTexts-kong-img img{
     vertical-align: middle;
}
}

.main-rent .gas-stop-notification {
    position: absolute;
    width: 7px;
    height: 7px;
    margin-left: 19.5%;
    margin-top: 2%;
    border-radius: 50%;
    background-color: red;
}

.main-rent .img-name {
    text-align: center;
}

.main-rent .text-menu{
  display: flex;
    margin-top: 5%;
}
  




    .main-rent  .text-section{
    flex: auto;
    text-align: justify;
    padding-left: 3px;
    width: 100%;
  }
  
@media screen and (max-width: 1023px) {
  .main-rent .text-menu-body{
     width: 90%;
    height: 15em;
    margin: 1em 0 0 5%;
    border-radius: 5px;
    float: left;
  }
  .main-rent .text-header{
     height: 3em;
    margin: 0 0 1em 0;
  }
}
@media screen and (min-width: 1023px) {
  .main-rent .text-menu-body{
  width:40%;
    height:15em;
    margin: 1em 0 0 7%;
     border-radius:5px;
     float:left;
  }
  .main-rent .text-header{
     height: 4.2em;
    margin: 0 0 1em 0;
  }
}
.main-rent .text-menu-body1{
  
      border:1px solid #bce8f1;
}
.main-rent .scroll-class-hidden{
height: 9em;
width:100%;
overflow: hidden;
}
.main-rent .scroll-class{
    overflow:scroll;
    height: 9em;
    width:104%;
    margin: 2px 0 0 0;
}

   .main-rent .textItem1{
      
   
      color: #31708f;
    background-color: #d9edf7;
   }
      .main-rent .textItem2{
       text-indent: 1em;
         color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
   }
     .main-rent .text-menu-body2{
   
     border:1px solid #ebccd1;
 
}
      .main-rent .text-menu-body3{

     border:1px solid #faebcc;
    
}
      .main-rent .textItem3{
       
       text-indent: 1em;
          color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
   }
  
          .main-rent .text-menu-body4{

     border:1px solid #d6e9c6;

}

      .main-rent .textItem4{
        
       text-indent: 1em;
           color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
   }
   
    .main-rent .span-font-up{
        font-size:2em;
        font-weight: bolder;
        float:right;
        text-align: left;
        color:white;
        width:2em;
    }
     .main-rent .text-body-left{
    width: 95%;
    height: 1em;
    line-height: 1em;
    float: left;
    margin: 1em 0 0 0;
    padding: 0 0 0 5%;
     }
        .main-rent .text-body-right{
      width: 95%;
    height: 1em;
    line-height: 1.5em;
    font-size: .8em;
    float: left;
    text-align: right;
    color: #aaa;
     }


       .main-rent .text-body-left1{
    width: 70%;
    height: 1em;
    line-height: 1em;
    float: left;
    margin: 1em 0 0 0;
    padding: 0 0 0 5%;
     }
       .main-rent .text-body-center1{
    width: 25%;
    height: 1em;
    line-height: 1em;
    float: left;
    margin: 1em 0 0 0;
    padding: 0 0 0 0%;
     }
        .main-rent .text-body-right1{
      width: 95%;
    height: 1em;
    line-height: 1.5em;
    font-size: .8em;
    float: left;
    text-align: right;
    color: #aaa;
     }
  
    
       .main-rent .bootTexts-kong-text{
        margin:.5em 0 0 0;
        
     }

       .main-rent .color-one{
        color:#23527c;  
     }
       .main-rent .color-two{
        color:red ;
     }
   .main-rent .color-three{
    color: #31708f;
    
     
     }
    